In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('emails.csv')

In [3]:
data.head()

,text,spam,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109
0,Subject: naturally irresistible your corporate...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subject: the stock trading gunslinger fanny i...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Subject: unbelievable new homes made easy im ...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Subject: 4 color printing special request add...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Subject: do not have money , get software cds ...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(5730, 110)

In [5]:
data.isnull().sum()

text               0
spam               2
Unnamed: 2      5728
Unnamed: 3      5728
Unnamed: 4      5728
                ...
Unnamed: 105    5728
Unnamed: 106    5728
Unnamed: 107    5729
Unnamed: 108    5729
Unnamed: 109    5729
Length: 110, dtype: int64

In [6]:
data['Unnamed: 2'].value_counts()

Unnamed: 2
 if terminations proceedings go through                                                                          1
 contended in delhi that since dpc contributed only 0 . 7 per cent of the total energy output of the country     1
Name: count, dtype: int64

In [7]:
test_data = data[data['spam'].isnull()]

In [8]:
data = data[['text','spam']]

In [9]:
data.head()

                                                text spam
0  Subject: naturally irresistible your corporate...    1
1  Subject: the stock trading gunslinger  fanny i...    1
2  Subject: unbelievable new homes made easy  im ...    1
3  Subject: 4 color printing special  request add...    1
4  Subject: do not have money , get software cds ...    1

In [10]:
data.dropna(inplace=True)

In [11]:
data['spam'] = np.where('0' in data['spam'],0,1)

In [12]:
data.isnull().sum()

text    0
spam    0
dtype: int64

In [26]:
X=data.drop(['spam'],axis=1)

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,data['spam'],test_size=0.2,random_state=334)

In [14]:
X_train.shape,X_test.shape

((4582,), (1146,))

In [15]:
X_train.head()

3568    Subject: re : visit to enron  vince ,  dec . 2...
4587    Subject: capa 2000 conference  vince and stins...
2777    Subject: re : thank you  sevil .  we are looki...
2924    Subject: re : agenda for ny mg metals visit  i...
5462    Subject: var for cob 2 nd aug 2000  hi vince ,...
Name: text, dtype: object

In [16]:
y_train.shape,y_test.shape

((4582,), (1146,))

In [17]:
y_train.head()

3568    1
4587    1
2777    1
2924    1
5462    1
Name: spam, dtype: int32

In [25]:
X_train.dtype

dtype('O')

In [18]:
X_test.head()

1082    Subject: this is where it all begins  no where...
4445    Subject: re : suggestion : implementing var ba...
2341    Subject: interview schedule for yingquan shen ...
2712    Subject: check  julie ,  this message was retu...
3219    Subject: fyi : howard haughton  thanks vince ....
Name: text, dtype: object

In [19]:
from naivebayes import NaiveBayes
clf = NaiveBayes()

In [20]:
clf.fit(X_train,y_train)

KeyError: 'key of type tuple not found and not a MultiIndex'

In [ ]:
y_train.unique()

array(['0', '1', nan,
       ' its termination would not  have such a phenomenal impact on the power situation .  however '],
      dtype=object)

In [ ]:
y_train.isnull().sum()

1